html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'DM Serif Display', 'Palatino', serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */
/* .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* MAIN */
.burger__wrapper {
  flex-grow: 1;
}

/* FOOTER */
/* .footer-insure {
  display: flex;
  flex-direction: column;
} */

p,h1,h2,h3,a,
h4,h5,h6,ul,li {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-menu {
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.navigation {
  margin-left: 25px;
}

/* .header-button {
  background: #FFFFFF;
  border: 1.5px solid #2C2830;
} */

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-navigations ul {
  list-style: none;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #837D88;
}

.header-navigations li a {
  text-decoration: none;
  color: #837D88;
  text-transform: uppercase;
}

.header-navigations li:last-child a{
  color: #2C2830;
  background: #FFFFFF;
  border: 2px solid #2C2830;
  padding: 10px 28px;
}

.desctop-title {
  background-color: #2D2641;
}

.desctop-title__wrapper {
  display: flex;
  justify-content: space-between;
}

.desctop-title__left-side__title-hero {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
  width: 520px;
  margin-top: 95px;
}

.desctop-title__left-side__title-hero::before {
  display: inline-block;
  content: "";
  width: 150px;
  height: 1px;
  margin-bottom: 200px;  
  background-color: #fff;
}

.desctop-title__left-side__text {
  display: inline-block;
  width: 540px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 17px;
}

.dark-button {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  padding: 10px 28px;
  border: 1.5px solid #FFFFFF;
  margin-top: 25px;
}



.desctop-img {
  margin-top: 105px;
}

.about-us {
  padding-top: 150px;
  padding-bottom: 158px;
}

.about-us__hero-title {
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2C2830;
}

.about-us__hero-title::before {
  margin-bottom: 63px;
  display: block;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #C396C6;
}

.about-us__card {
  margin-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.388889px;
  color: #2C2830;
}

.about-us__card-wrapper:nth-child(1)::before {
  display: inline-block;
  content: "";
  width: 86px;
  height: 86px;
  margin-bottom: 30px;
  background-image: url("/images/icon/abaut-us-icon1.svg");
}

.about-us__card-wrapper:nth-child(2)::before {
  display: inline-block;
  content: "";
  width: 86px;
  height: 86px;
  margin-bottom: 30px;
  background-image: url("/images/icon/abaut-us-icon2.svg");
}

.about-us__card-wrapper:nth-child(3)::before {
  display: inline-block;
  content: "";
  width: 86px;
  height: 86px;
  margin-bottom: 30px;
  background-image: url("/images/icon/abaut-us-icon3.svg");
}

.about-us__card-text {
  width: 332px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #837D88;
}


.about-us__card-title {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
}


.about-us__card-img {
  width: 86px;
  height: 86px;
}

.how-we-work {
  padding-bottom: 214px;
}

.how-we-work__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2D2641;
  padding: 69px 80px;
}

.how-we-work__title {
  width: 475px;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #FFFFFF;
}


/* FOOTER SIDE */

/* .footer-insure__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 33px;
  border-bottom: 1px solid #DADADA;
}

.social-links {
  margin-right: -16px;
}

.icon-of-social {
  margin-right: 16px;
}

.footer-logo {
  width: 112px;
  height: 18px;
  background-image: url(/images/icon/INSURE.svg);
}

.footer-menu__tables {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
}

.table-content:nth-child(1) {
  margin-bottom: 36px;
  text-transform: uppercase;
}

.table-content {
  margin-bottom: 16px;
}

.table-title {
  color: #837D88;

}

.table-content a {
  color: #2D2641;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
}

/* .footer-menu__table {
  width: 117px;
} */


